* {
	margin:5;
	padding:5;        
}
h1 {
	text-align: center;
	color: black;    
}
body {
	background:aqua;  
}
h4,p {
	color:;   
}
#two {
	background-color: #60899f;
}
#one {
	background-color: #4682B4;
	width: 100%;
}
body {
	background-color: aqua;
}